.centered_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.centered_div_2{
    margin-top: 4rem;
}

/* .centered_div_3{
    margin-left: 100px;
} */

.rounded{
    border-radius: 8px;
}

.gapped{
    margin-top: 8px;
    margin-bottom: 8px;
}